/* Basit bir stil örneği */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* Navbar turuncu */
.navbar {
  background-color: #ff7f00;
}

/* Giriş Yap açılır menüsü */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

/* Carousel Border ve mesafe */
#infoCarousel {
  border: 2px solid #ff7f00;
  /* Turuncu border */
  border-radius: 8px;
  margin-top: 30px;
  /* Navbar ile mesafe */
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
